#activities.list-group{'data-url': activities_path}
  - items.each do |activity|
    .list-group-item.list-group-item-action.justify-content-between
      = activity.places.pluck(:name).to_sentence
      .badge.badge-default.badge-pill<>
        = timeago_tag activity.start_date
        %span.m-1<>
          |
        = timeago_tag activity.end_date
