#places.list-group{'data-url': places_path}
  - items.each do |place|
    .list-group-item.flex-column.align-items-start
      .d-flex.w-100.justify-content-between<>
        .lead.place-name= place.name
        %small.card.text-muted.p-1
      %p.place-description.mt-1<>= place.description.html_safe
      .d-flex.w-100.justify-content-between<>
        %small
          = precede t("place.posted") do
            = timeago_tag place.created_at, class: 'ml-1'
        - if place.respond_to? :comments
          %small
            = link_to t('comment.comments', count: place.comments.count),
                      polymorphic_url([place, :comments], only_path: true)
